<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <aop:aspectj-autoproxy/>
    <bean class="example.aop.TransactionalAspect" />

    <bean id="entityDaoA" class="example.dao.EntityDaoAImpl">
        <property name="entityManagerFactory" ref="entityManagerFactoryA" />
    </bean>
    <bean id="entityDaoB" class="example.dao.EntityDaoBImpl">
        <property name="entityManagerFactory" ref="entityManagerFactoryB" />
    </bean>

    <bean id="entityManagerFactoryA" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource">
            <bean class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
                <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
                <property name="url" value="jdbc:hsqldb:mem:CGTest" />
                <property name="username" value="sa" />
                <property name="password" value="" />
                <property name="suppressClose" value="true" />
                <property name="autoCommit" value="true" />
            </bean>
        </property>
        <property name="persistenceUnitName" value="puA" />
    </bean>

    <bean id="entityManagerFactoryB" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource">
            <bean class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
                <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
                <property name="url" value="jdbc:hsqldb:mem:CGTest" />
                <property name="username" value="sa" />
                <property name="password" value="" />
                <property name="suppressClose" value="true" />
                <property name="autoCommit" value="true" />
            </bean>
        </property>
        <property name="persistenceUnitName" value="puB" />
    </bean>

</beans>
